# Data Science Tools and Ecosystem

in this notebook data science tools and ecosystem are summarized

some of the popular languages which Data Science uses are:
1. Python
2. R
3. SQL
4. JAVA
5. SCALA
6. JULIA

Some of commonely used libraries in Data Science include:
1. PANDAS
2. MATPLOTLIB
3. SEABORN
4. SCIKIT
5. GGPLOT
6. DPLYR
7. CARET

| Data Science Tools                  |
|-------------------------------------|
| Jupyter Notebook                    |
| RStudio                             |
| Apache Zeppelin                     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Describe commonly used data science libraries
- Demonstrate how to create tables in Markdown
- Explain the usage of different heading styles in Markdown
- Understand the functionalities of various data science tools

## Author

Aftab Ramzan